*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    background-color: hsl(235, 16%, 14%);
    background-image: 
        url("../images/bg-stars.svg"),
        url("../images/pattern-hills.svg")
    ;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: 
        50% 0%,
        0 100%;
}

/* Welcome */

.welcome {
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
}

/* Label */

.label {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.label__content {
    color: hsl(237, 18%, 59%);
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* Social */

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    margin-left: 15px;
    margin-right: 15px;
}
