*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    background-color: hsl(235, 16%, 14%);
}

/* Welcome */

.welcome {
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
}
