*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    background-color: hsl(235, 16%, 14%);
    background-image: 
        url("../images/bg-stars.svg"),
        url("../images/pattern-hills.svg")
    ;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: 
        50% 0%,
        0 100%;
}

/* Welcome */

.welcome {
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
}

/* Timer */

.timer {
    max-width: 650px;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
}

.timer__pad {
    position: relative;
    padding: 20px;
    /* box-shadow: 0 10px 10px hsl(234, 17%, 12%); */
    background-color: hsl(236, 21%, 26%);
    border-radius: 10px;
}

.timer__pad::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    width: 100%;
    height: 20px;
    background-color: hsl(234, 17%, 12%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: -1;
}

.timer__value {
    color: hsl(345, 95%, 68%);
    font-size: 72px;
}

/* Label */

.label {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.label__content {
    color: hsl(237, 18%, 59%);
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* Social */

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    margin-left: 15px;
    margin-right: 15px;
}
